
/* GENERAL */

html {
    height: 100%;
    scroll-behavior: smooth;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

h1 {
    font-size: 5em;
    text-align: center;
    color:red
}

body {
    font-family: 'Cambria';
    background-color:honeydew;
}


/* HEADING */

header {
	margin: 0;
	padding: 0;
	width: 100%;
}



/* COVER */
#cover {
    text-align:center;
}

#cover h1 {
	color: red;
	font-size: 4em; 
	font-style: normal;
	font-weight: bold;
    font-family:'Cambria';
    line-height: 1.3;
    text-shadow: 5px 8px 10px rgba(0, 0, 0, .25);
    margin: 12px 0 0;
}

#cover ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
  
#cover li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
}

#cover p {
    font-family:'Cambria';
    font-size: large;
    color:darkred;
}

#cover .social_icon {
    width: 75px;
	height: 75px;
	margin: 10px;
}


/* FOOTER */

footer {
	text-align: center;
	clear: both;
	padding-top: 100px;
	margin-bottom: 20px;
}

footer img {
	width: 50px;
	height: 50px;
	margin: 10px;
}

footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
  
footer li {
    display: inline-block;
}


/* MEDIA */

@media screen and (max-width: 1000px) {
    body {
        background-color:aliceblue;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color:azure;
        height: 100%;
    }
}
